@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Data.Entities.Brand>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find your car!!!</p>
</div>

<h3>Brand</h3>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Models" asp-route-id="@item.Id">Next</a> 
            </td>
        </tr>
}
    </tbody>
</table>
