@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Data.Entities.BrandModel>

@{
    ViewData["Title"] = "Index";
}

@{
    var br = 0;
    @foreach (var item in Model) {
    @if(item.BrandId != null)
    {
        <h3>@Html.DisplayFor(modelItem => item.Brand.Name)/Model</h3>
        br++;
        break;
    }
    }
    @if(br == 0)
    {
        <div class="text-center">
    <h1 class="display-4">Not Found</h1>
</div>
    }
}

<table class="table">

    <tbody>
@foreach (var item in Model) {
    @if(item.BrandId != null)
            {
                   <tr>   
                    <td>
                         @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Generations" asp-route-id="@item.Id">Next</a> 
                    </td>
                   </tr>
            }
}
    </tbody>
</table>
<br/>
<div>
    <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Go back</a>
</div>
