@model Data.Entities.Modification

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Modification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenerationId" class="control-label"></label>
                <select asp-for="GenerationId" class="form-control" asp-items="ViewBag.GenerationId"></select>
                <span asp-validation-for="GenerationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyTypeId" class="control-label"></label>
                <select asp-for="BodyTypeId" class="form-control" asp-items="ViewBag.BodyTypeId"></select>
                <span asp-validation-for="BodyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineModelId" class="control-label"></label>
                <select asp-for="EngineModelId" class="form-control" asp-items="ViewBag.EngineModelId"></select>
                <span asp-validation-for="EngineModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearBoxTypeId" class="control-label"></label>
                <select asp-for="GearBoxTypeId" class="form-control" asp-items="ViewBag.GearBoxTypeId"></select>
                <span asp-validation-for="GearBoxTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceleration" class="control-label"></label>
                <input asp-for="Acceleration" class="form-control" />
                <span asp-validation-for="Acceleration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelConsumption" class="control-label"></label>
                <input asp-for="FuelConsumption" class="form-control" />
                <span asp-validation-for="FuelConsumption" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
